* {
	margin: 0;
	padding: 0;
	font-family: arial, 'Roboto', sans-serif;
}


header {
	display: flex;	
	justify-content: center;
	align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
	width: 50%;
	margin-top: 50px;
	min-width: 500px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
}

h1, h2 {
	text-align: center;
	margin: 25px;
}

button {	
	padding: 1vw 2vw;
	margin: 10px 1vw;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	box-shadow: 0px 5px #999;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#setDif {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#dificuldade {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#setDifEasyButton, #setDifHalfButton, #setDifHardButton {
	width: 30px;
	height: 30px;
	padding: 0;
	border-radius: 100%;	
	box-shadow: 0px 3px #999;
}

#setDifEasyButton {
	background-color: #00c800;
}

#setDifEasyButton:hover {
	background-color: #009600;
}

#setDifHalfButton {
	background-color: #5a00c7;
}

#setDifHalfButton:hover {
	background-color: #46009c;
}

#setDifHardButton {
	background-color: #de0000;
}

#setDifHardButton:hover {
	background-color: #bf0000;
}

#hudButton {
	width: 200px;
	margin: 25px 0;
	background-color: #ff8b1f;
	border-radius: 15px;
}

#hudButton:hover {
	background-color: #ff7b00;
}




#ingame {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#colorBoxes {
	display: flex;
	flex-direction: row;
}

#firstOption, #secondOption, #thirdOption, #fourthOption {
	height: 20vw;
	width: 20vw;
	max-width: 150px;
	max-height: 150px;
	min-width: 50px;
	min-height: 50px;
	margin: 1vw;
	border-radius: 100%;
	box-shadow: 0px 10px #999;
}

#firstOption:active, #secondOption:active, #thirdOption:active, #fourthOption:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#thirdOption, #fourthOption {
	display: none;
}
